/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: August 8, 2023 (begin dev)
*/

/* **************** */
/* Custom Variables */
/* **************** */
:root {
  /* FONTS */
  --ff-primary: 'Overpass', sans-serif;;
  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;
  /* FONT SIZES */
  --fs-400: 0.875rem;
  --fs-700: 1.5rem;
  /*** COLORS ***/
  /* primary colors */
  --clr-orange: hsl(25, 97%, 53%);
  /* neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-ghost-white: hsl(240, 22%, 96%);
  --clr-light-gray: hsl(217, 12%, 63%);
  --clr-med-gray: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-extra-dark-blue: hsl(216, 12%, 8%);
  /* gradients */
  --clr-gradient-black: radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%);
  /* BORDER RADIUS */
  --br-soft: 0.9375rem;
  --br-round: 50%;
}

@media (min-width: 600px) {
  :root {
    --fs-400: 0.9375rem;
    --fs-700: 1.75rem;  
    --br-soft: 1.875rem;
  }
}

/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  line-height: 1.5;
  background-color: var(--clr-extra-dark-blue);
  color: var(--clr-light-gray);
}

/* Components and Utility Classes */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.stacked {
  display: grid;
  place-items: center; 
}

.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

button.button {
  width: 100%;
  border: none;
  background-color: transparent;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--clr-white);
  border-radius: 1.4rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

button.submit-btn {
  padding: 0.75rem 6.75rem;
  background-color: var(--clr-orange);
}

button.close-btn {
  padding: 0.5em 1.25em;
  background-color: var(--clr-dark-blue);
}


button.submit-btn:hover,
button.close-btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}


@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentColor;
  }
}

button.button:focus {
  outline-style: solid;
  outline-color: transparent;
}

button.submit-btn:focus {
  box-shadow: 0 0 0 4px var(--clr-ghost-white);
}

button.close-btn:focus {
  box-shadow: 0 0 0 2px var(--clr-ghost-white);
}

dialog {
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 2em 3em;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  background-color: var(--clr-orange);
  border: none;
  border-radius: var(--br-soft);
}

dialog p {
  margin-bottom: 1em;
}

dialog::backdrop {
  background: hsl(250, 100%, 50%, 0.25);
}

/* Card Styles */
.rating-card,
.result-card {
  max-width: 20.4375rem;
  background: var(--clr-gradient-black);
  border-radius: var(--br-soft);
}

.rating-card {
  padding: 1.5rem;
}

.result-card {
  padding: 2.25rem 1.5rem;
  text-align: center;
}

.result-card img {
  margin-bottom: 1.5rem;
  margin-inline: auto;
  max-width: 9rem;
}

.rating-summary {
  margin-bottom: 1.5rem;
  padding: 0.4em 0.9em;
  display: inline-block;
  color: var(--clr-orange);
  background: var(--clr-dark-blue);
  border-radius: 1.40625rem;;
}

.result-card p {
  max-width: 36ch;
}

.icon-container {
  margin-bottom: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-dark-blue);
  border-radius: var(--br-round);
  display: grid;
  place-items: center;
}

.rating-card h1 {
  color: var(--clr-white);
  margin-bottom: 0.5em;
  font-size: var(--fs-700);
  line-height: 1.2;
}

.rating-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.rating-legend {
  margin-bottom: 1.5rem;
  padding: 0;
  font-size: var(--fs-400);
  line-height: 1.6;
}

.selector-container {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--clr-dark-blue);
  margin: 0;
  color: currentColor;
  border-radius: var(--br-round);
  height: 2.625rem;
  width: 2.625rem;
  transition: all 0.25s ease-in-out;
}

.selector-item {
  font-size: var(--fs-400);
}

.selector-item:hover {
  color: var(--clr-white);
}

input[type="radio"]:hover {
  cursor: pointer;
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.selector-item_label {
  font-weight: var(--fw-bold);
}

.selector-item_label:hover {
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--clr-med-gray);
}

input[type="radio"]:checked + label {
  color: white;
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid var(--clr-orange);
  outline-offset: max(2px, 0.15em);
}

@media (min-width: 600px) {
  .rating-card {
    padding: 2rem;
    max-width: 25.75rem;
  }
  .icon-container {
    margin-bottom: 1.85rem;
    width: 3rem;
    height: 3rem;
  }
  .selector-container{
    margin-bottom: 2rem;
  }
  .selector-item {
    font-size: 1rem;
  }
  input[type="radio"] {
    height: 3.1875rem;
    width: 3.1875rem;
  }
}