/*
Author: Matt Pahuta
Date: August 2023
*/
:root {
  /* FONTS */
  --ff-primary: 'Overpass', sans-serif;
  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;
  /* FONT SIZES */
  --fs-card-text: 0.875rem;
  --fs-700: 1.5rem;
  --fs-card-heading: 1.5rem;

  @media (width > 37.5rem) {
    --fs-card-text: 0.938rem;
    --fs-card-heading: 1.75rem;
    --br-soft: 1.875rem;
  }
  /* primary colors */
  --clr-orange-500: hsl(25, 97%, 53%);
  /* neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey-500: hsl(217, 12%, 63%);
  --clr-grey-900: hsl(213, 19%, 18%);
  --clr-grey-950: hsl(216, 12%, 8%);
  /* gradients */
  --clr-gradient-black: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  /* Spacing */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-425: 2.25rem; /* 36px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-1300: 6.5rem; /* 104px */
  --spacing-1700: 8.5rem; /* 136px */
  /* BORDER RADIUS */
  --br-soft: 0.9375rem;
  --br-round: 50%;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  p,
  li {
    text-wrap: wrap;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--ff-primary);
    line-height: 1.6;
    background-color: var(--clr-grey-950);
    color: var(--clr-grey-500);
  }
}

@layer layout {
  .main {
    padding-inline: var(--spacing-300);
  }

  .card {
    max-width: 412px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    font-size: var(--fs-card-text);
    background: var(--clr-gradient-black);
    border-radius: var(--br-soft);

    @media (width > 37.5rem) {
      min-height: 416px;
    }
  }

  .card h2 {
    margin-block-end: var(--spacing-200);
    font-size: var(--fs-card-heading);
    line-height: 1.25;
    color: var(--clr-white);
  }

  .rating-card {
    padding: var(--spacing-300);
    align-items: start;

    @media (width > 37.5rem) {
      padding-block: var(--spacing-400);
      padding-inline: var(--spacing-300);
    }
  }

  /* Rating Confirmation */
  .confirmation-card {
    padding: var(--spacing-400) var(--spacing-300);
    align-items: center;
    text-align: center;

    @media (width > 37.5rem) {
      padding: var(--spacing-400) var(--spacing-400);
    }
  }

  .confirmation-card img {
    max-width: 144px;

    @media (width > 37.5rem) {
      max-width: 162px;
    }
  }

  p.rating-summary {
    margin-block: var(--spacing-300);
    padding: 0.65em 0.9em;
    display: inline-block;
    color: var(--clr-orange-500);
    background: var(--clr-grey-900);
    line-height: 1;
    border-radius: 22.5px;

    @media (width > 37.5rem) {
      margin-block: var(--spacing-400);
    }
  }

  .confirmation-card p {
    max-width: 35ch;
  }

  .icon-container {
    margin-bottom: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-grey-900);
    border-radius: var(--br-round);
    display: grid;
    place-items: center;

    .icon-star {
      color: var(--clr-orange-500);
    }

    @media (width > 37.5rem) {
      margin-bottom: 1.85rem;
      width: 3rem;
      height: 3rem;
    }
  }

  .rating-fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  .rating-legend {
    margin-bottom: var(--spacing-200);
    padding: 0;
  }

  .selector-container {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;

    @media (width > 37.5rem) {
      margin-bottom: 2rem;
    }
  }
}

@layer components {
  button.button {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    border-radius: 1.4rem;
    font-size: var(--fs-card-text);
    font-weight: var(--fw-bold);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
  }

  button.button-primary {
    padding: 0.75rem 6.75rem;
    color: var(--clr-grey-950);
    background-color: var(--clr-orange-500);
  }

  button.button-primary:hover,
  button.button-primary:focus-visible {
    background-color: var(--clr-white);
  }

  @media screen and (-ms-high-contrast: active) {
    button.button {
      border: 2px solid currentColor;
    }
  }

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--clr-grey-900);
    margin: 0;
    color: currentColor;
    border: none;
    border-radius: var(--br-round);
    height: 2.625rem;
    width: 2.625rem;
    transition: all 0.25s ease-in-out;

    @media (width > 37.5rem) {
      height: 3.1875rem;
      width: 3.1875rem;
    }
  }

  .selector-item {
    border-radius: var(--br-round);
    transition: all 0.25s ease-in-out;
    font-size: var(--fs-card-text);

    @media (width > 37.5rem) {
      font-size: 1rem;
    }
  }

  .selector-item:hover {
    cursor: pointer;
    color: var(--clr-grey-900);
  }

  input[type='radio']:hover {
    cursor: pointer;
    background-color: var(--clr-orange-500);
    color: var(--clr-grey-900);
  }

  .selector-item_label {
    font-weight: var(--fw-bold);
  }

  .selector-item_label:hover {
    cursor: pointer;
  }

  input[type='radio']:checked {
    background-color: var(--clr-white);
  }

  input[type='radio']:checked + label {
    color: var(--clr-grey-900);
  }

  input[type='radio']:focus-visible,
  button.button:focus-visible {
    outline: max(2px, 0.15em) solid var(--clr-orange-500);
    outline-offset: max(2px, 0.15em);
  }
}

@layer utilities {
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .stacked {
    display: grid;
    place-items: center;
  }

  .stacked > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .fade {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
  }

  .fade-out {
    opacity: 0;
  }
}
